# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
build/
*.tsbuildinfo

# Environment & Credentials
.env
.env.local
.env.production
*.pem
*.key
data/
*.sqlite
*.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage / Testing
coverage/
.nyc_output/
